.item {
    display: flex;
    align-items: baseline;
    gap: 10px;
    .item-title {
        flex-basis: 80%;
    }

    .item-priority {
        flex-basis: 10%;
    }

    button {
        flex-basis: 7%;
        // height: 7px;
    }
}